German Data:

https://archive.ics.uci.edu/ml/datasets/statlog+(german+credit+data)

In [ ]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LogisticRegression

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
germandata = pd.read_csv("/content/drive/MyDrive/data/german_credit_SC63.csv")

In [ ]:
#germandata = pd.read_csv("german_credit_SC63.csv")

In [ ]:
germandata.head(4)

   AsignarCredito  duracion  historial  ...  trabajo  carro  extranjero
0               0        18          4  ...        3      1           1
1               0         9          4  ...        3      1           1
2               0        12          2  ...        2      1           1
3               0        12          4  ...        2      1           2

[4 rows x 14 columns]

In [ ]:
germandata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   AsignarCredito  1000 non-null   int64
 1   duracion        1000 non-null   int64
 2   historial       1000 non-null   int64
 3   proposito       1000 non-null   int64
 4   monto           1000 non-null   int64
 5   ahorros         1000 non-null   int64
 6   edocivil        1000 non-null   int64
 7   edad            1000 non-null   int64
 8   otroscreditos   1000 non-null   int64
 9   casa            1000 non-null   int64
 10  otrosplanes     1000 non-null   int64
 11  trabajo         1000 non-null   int64
 12  carro           1000 non-null   int64
 13  extranjero      1000 non-null   int64
dtypes: int64(14)
memory usage: 109.5 KB

In [ ]:
germandata.describe(include='all')

       AsignarCredito     duracion  ...        carro   extranjero
count     1000.000000  1000.000000  ...  1000.000000  1000.000000
mean         0.300000    20.903000  ...     1.404000     1.037000
std          0.458487    12.058814  ...     0.490943     0.188856
min          0.000000     4.000000  ...     1.000000     1.000000
25%          0.000000    12.000000  ...     1.000000     1.000000
50%          0.000000    18.000000  ...     1.000000     1.000000
75%          1.000000    24.000000  ...     2.000000     1.000000
max          1.000000    72.000000  ...     2.000000     2.000000

[8 rows x 14 columns]

In [ ]:
sum(germandata['AsignarCredito'])

300

In [ ]:
X = germandata[['duracion','historial','proposito','monto','ahorros','edocivil','edad',
                'otroscreditos','casa','otrosplanes','trabajo','carro','extranjero']]
Y = germandata['AsignarCredito']

X = X.values
Y = Y.values

In [ ]:
#from sklearn.model_selection import train_test_split

#x_train, x_validation_and_test, y_train, y_validation_and_test = train_test_split(X, Y, train_size=.70) 
#x_validation, x_test, y_validation, y_test = train_test_split(x_validation_and_test, y_validation_and_test, test_size=.50)

In [ ]:
from sklearn.model_selection import train_test_split

x_train_validation, x_test, y_train_validation, y_test = \
    train_test_split(X, Y, test_size=.15)

In [ ]:
x_train, x_validation, y_train, y_validation = \
   train_test_split(x_train_validation, y_train_validation, test_size=.176)

In [ ]:
print("Dimensión X_train_set:\t\t", x_train.shape)
print("Dimensión X_validation_set:\t", x_validation.shape)
print("Dimension X_test_set:\t\t", x_test.shape)

print("\nDimensión Y_train:\t\t", y_train.shape)
print("Dimensión Y_validation:\t\t", y_validation.shape)
print("Dimensión Y_test:\t\t", y_test.shape)

Dimensión X_train_set:		 (700, 13)
Dimensión X_validation_set:	 (150, 13)
Dimension X_test_set:		 (150, 13)

Dimensión Y_train:		 (700,)
Dimensión Y_validation:		 (150,)
Dimensión Y_test:		 (150,)

In [ ]:
clf = LogisticRegression( C=1.0, solver='newton-cg', max_iter=1000 )   
 
modelo_RL = clf.fit( x_train, y_train )

In [ ]:
print("Exactitud (accuracy) con el conjunto de Validación = ", \
      modelo_RL.score(x_validation, y_validation))

Exactitud (accuracy) con el conjunto de Validación =  0.7866666666666666

Repitamos el proceso 10 veces y registremos el promedio y desviación estándar de la exactitud de estos modelos:

In [ ]:
exactitud = []

for k in range(0,10):
  x_train, x_validation, y_train, y_validation = \
   train_test_split(x_train_validation, y_train_validation, test_size=.176)

  clf = LogisticRegression( C=1.0, solver='newton-cg', max_iter=500 )   
  modelo_RL = clf.fit( x_train, y_train )

  # veamos cómo se comportan ahora en el conjunto de validación:
  exactitud.append(modelo_RL.score(x_validation, y_validation))



print("Exactitud (Accuracy) promedio:", np.mean(exactitud))
print("y desviación estándar:", np.std(exactitud)  )

Exactitud (Accuracy) promedio: 0.7433333333333334
y desviación estándar: 0.013080944580232406